.idea
.gradle
.qodana
build
idea-sandbox
/out/
.intellijPlatform
 .DS_Store
/allure-results/

# Integration test Gradle wrapper binaries
integrationProjects/findDefaultParametersProject/gradle/wrapper/gradle-wrapper.jar
